<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@{{ .Page.Title }} ― {{ $.Param "nameShort" }}</title>
    {{ $options := (dict "targetPath" "css/page.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $main := resources.Get "styles/main.scss" }}
    {{ $theme := resources.Get .Params.stylesheet }}
    {{ $globalCSS := slice $main $theme | resources.Concat "styles/page.scss" }}
    {{ $gabunganCSS := $globalCSS }}
    {{ $stylesheet := $gabunganCSS | toCSS $options | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $stylesheet.Permalink }}" integrity="{{ $stylesheet.Data.Integrity }}">
    {{ $favicon := resources.Get .Params.faviconsrc }}
    <link rel="shortcut icon" href="{{ $favicon.Permalink }}" type="{{ .Params.imgtype }}">
</head>
<body class="bg-dark my-5">
    <div class="container">
        <header class="col text-white text-center">
            <img src="{{ .Params.avatarsrc }}" alt="Avatar {{ .Params.nama }}">
            <h1 class="fs-1">{{ .Params.nama }}</h1>
            <p>
                {{ if .Params.email }}
                <span class="pe-4">
                    <i class="fas fa-envelope fa-md pe-2"></i> {{ .Params.email }}
                </span>
                {{ else }}
                {{ end }}

                {{ if .Params.chat }}
                <span class="">
                    <i class="fab fa-telegram fa-md pe-2"></i> <a href="https://{{ .Params.chat }}" target="_blank" rel="noopener noreferrer">{{ .Params.chat }}</a>
                </span>
                {{ else }}
                {{ end }}
            </p>
        </header>
        <!-- <div class="col">
            <ul class="nav justify-content-end">
                {{ range $.Site.Home.AllTranslations }}
                <li class="nav-item">
                    <a href="{{ .Permalink }}" class="nav-link">{{ .Language.LanguageName }}</a>
                </li>
                {{ end }}
            </ul>
        </div> -->
        {{ .Content }}
        <footer class="col py-1">
            <p class="text-white text-center">
            <small>
                <i class="fas fa-copyright fa-md pe-1"></i> 2021 ― <span class="fw-bold">{{ $.Param "nameShort" }}</span>.
            </small>
            </p>
        </footer>
    </div>
</body>
</html>