<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} ― {{ $.Param "nameShort" }}</title>
    {{ $options := (dict "targetPath" "css/global.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $main := resources.Get "styles/main.scss" }}
    {{ $theme := resources.Get "styles/darksolid.scss" }}
    {{ $globalCSS := slice $main $theme | resources.Concat "styles/global.scss" }}
    {{ $gabunganCSS := $globalCSS }}
    {{ $stylesheet := $gabunganCSS | toCSS $options | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $stylesheet.Permalink }}" integrity="{{ $stylesheet.Data.Integrity }}">
    {{ $favicon := resources.Get "images/logo-color-512-01.svg" }}
    <link rel="shortcut icon" href="{{ $favicon.Permalink }}" type="image/svg+xml">
</head>
<body class="bg-dark my-5">
    {{ block "main" .}}{{ end }}
    {{ if .Site.IsServer }}
    {{ else }}
    {{ partial "analytics.html" . }}
    {{ end }}
</body>
</html>