<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} ― {{ $.Param "nameShort" }}</title>
    {{ $main := resources.Get "styles/main.scss" }}
    {{ $theme := resources.Get "styles/darksolid.scss" }}
    {{ $globalCSS := slice $main $theme | resources.Concat "styles/global.scss" }}
    {{ $gabunganCSS := $globalCSS }}
    {{ $stylesheet := $gabunganCSS | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $stylesheet.Permalink }}">
    {{ $favicon := resources.Get "images/favicon.png" }}
    <link rel="shortcut icon" href="{{ $favicon.Permalink }}" type="image/png">
</head>
<body class="bg-dark my-5">
    {{ block "main" .}}{{ end }}
</body>
</html>