@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
@font-face {
    font-family: "Merriweather Sans";
    src: url("/webfonts/MerriweatherSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 20deg;
  }
;
@font-face {
    font-family: "Merriweather Sans Italic";
    src: url("/webfonts/MerriweatherSans-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 20deg;
  }
;
@font-face {
    font-family: "Noto Serif Display";
    src: url("/webfonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 20deg;
  }
;
@font-face {
    font-family: "Noto Serif Italic";
    src: url("/webfonts/NotoSerifDisplay-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 20deg;
  }
;

body {
    font-family: 'Merriweather Sans', sans-serif;

    em, .fst-italic {
        font-family: 'Merriweather Sans Italic', sans-serif;
    }
}
h1 {
    font-family: 'Noto Serif Display', serif;
    letter-spacing: -0.04em;

    em {
        font-family: 'Noto Serif Italic', serif;
    }
}
img {
    width: 90px;
    margin-bottom: 1em;
}