{{ define "main" }}
{{ $logo := resources.Get "images/bitmyid-logo.svg" }}
    <div class="container">
        <header class="col text-white text-center">
            <img class="py-4" src="{{ $logo.Permalink }}" alt="Logo">
            <h1 class="fs-3">Claim your own</h1>
        </header>
        <!-- <div class="col">
            <ul class="nav justify-content-end">
                {{ range $.Site.Home.AllTranslations }}
                <li class="nav-item">
                    <a href="{{ .Permalink }}" class="nav-link">{{ .Language.LanguageName }}</a>
                </li>
                {{ end }}
            </ul>
        </div> -->
        <main class="col text-white text-center py-1">
          <p class="fs-1">
            <a href="https://github.com/KawanuaDev/bitmyid#cara-membuat-bio-link-milik-anda" target="_blank" rel="noopener noreferrer">
              <span class="fw-thin">bit.my.id/</span><span class="fw-bolder">yourname</span>
            </a>
          </p>
        </main>
        <footer class="col py-2">
          <p class="text-white text-center">
            <small>
              <i class="fas fa-copyright fa-md pe-1"></i> 2021 ― <span class="fw-bold">{{ $.Param "nameShort" }}</span>.
            </small>
          </p>
        </footer>
    </div>
{{ end }}