{{ define "main" }}
{{ $logo := resources.Get "images/gbi-logo-6931365460.png" }}
    <div class="container">
        <div class="col">
            <a href="https://gbijppm.my.id" target="_blank" rel="noopener noreferrer">
                <img src="{{ $logo.Permalink }}" alt="Logo GBI">
            </a>
        </div>
        <!-- <div class="col">
            <ul class="nav justify-content-end">
                {{ range $.Site.Home.AllTranslations }}
                <li class="nav-item">
                    <a href="{{ .Permalink }}" class="nav-link">{{ .Language.LanguageName }}</a>
                </li>
                {{ end }}
            </ul>
        </div> -->
        <div class="px-5 py-4">
          <div class="list-group rounded-lg bg-white">
            <a href="https://www.pusatperakitan.org" class="list-group-item list-group-item-action">Website</a>
            <a href="https://www.instagram.com/gbijppm/" class="list-group-item list-group-item-action">Instagram</a>
            <a href="#!" class="list-group-item list-group-item-action">Facebook</a>
            <a href="#!" class="list-group-item list-group-item-action">Youtube</a>
          </div>
        </div>
        <div class="px-5 py-1">
          <p>
            © 2021 <a href="https://www.pusatperakitan.org" class="">GBI JPPM</a>.
          </p>
        </div>
    </div>
{{ end }}