{{ define "main" }}
{{ $logo := resources.Get "images/gbi-logo-6931365460.png" }}
    <div class="container">
        <div class="col">
            <a href="https://gbijppm.my.id" target="_blank" rel="noopener noreferrer">
                <img src="{{ $logo.Permalink }}" alt="Logo GBI">
            </a>
        </div>
        <!-- <div class="col">
            <ul class="nav justify-content-end">
                {{ range $.Site.Home.AllTranslations }}
                <li class="nav-item">
                    <a href="{{ .Permalink }}" class="nav-link">{{ .Language.LanguageName }}</a>
                </li>
                {{ end }}
            </ul>
        </div> -->
        <div class="rounded-lg bg-dark px-5 py-4">
          <p>Website</p>
          <p>Instagram</p>
          <p>Youtube</p>
          <p>Facebook</p>
        </div>
    </div>
{{ end }}